.contact {

    &__form {
        font-size: 1.2rem;
        text-align: center;
        margin: 0 auto;
        width: 320px;

        @mixin atMedium {
            width: 700px;
        }

        &--left {
            text-align: left;

            @mixin atMedium {
                width: 50%;
                float: left;
            }
        }

        &--right {
            text-align: left;

            @mixin atMedium {
                width: 50%;
                float: left;
            }
        }

        input, textarea {
            font-family: $mainFontFamily;
            font-size: 1.1rem;
            padding: .5rem;
            margin: .5rem;
            width: 280px;
            border: 1px solid $lightGreen;
            @mixin atMedium {
                width: 300px;
            }
        }

        textarea {
            height: 170px;
        }

        input[type="submit"] {
            background-color: $darkGreen;
            color: #fff;
            transition: all 0.3s ease;

            &:hover {
                background-color: $lightGreen;
            }
        }
    }
}
