.flex {
    &__container {

        @mixin atSmall {
           display: flex;
        }

        &--wrap {
            flex-wrap: wrap;
        }
    }

    &__item {

        &--1 {

            @mixin atSmall {
                flex: 0 0 600px;
            }
        }
        
        &--no-grow {

            @mixin atSmall {
                flex: 0 0 400px;
            }   
        }
    }
}