.generic-content-container {
    font-size: 1.2rem;
    padding: .5rem;

    @mixin atSmall {
        padding-left: 2rem;
    }

    &--heading {
        font-family: $accentFontFamily;
        font-weight: 400;
    }

    &--padding-left {
        padding-left: .7rem;
    }

    a {
       color: $mediumGreen;
       font-size: 1.3rem;

       &:hover {
           color: $lightGreen;
       } 
    }

    p {
        margin: 0 0 1rem;

        @mixin atSmall {
            margin: 0 0 1.5rem;
        }
    }

    &--blue {
        color: $blue;
        font-size: 1rem;
    }

    img {
        border: 5px solid #fff;
        width: 300px;
    }
}