.navbar {
    background-color: $lightGray;
    font-family: $accentFontFamily;
    font-size: 1rem;
    text-align: center;
    padding: .5rem 0 .5rem;
    transition: all 0.2s ease;

    @mixin atSmall {
        font-size: 1.4rem;
        padding: .5rem 0 1rem;
        margin-bottom: 2rem;

    }

    &--scrolled {
        background-color: #fff;
        border-bottom: 1px solid $lightGreen;
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }
   

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        list-style: none;
    }

    a {
        color: $darkGreen;
        text-decoration: none;
        padding: .1rem 1.4rem .1rem;
        transition: all 0.3s ease;

        @mixin atSmall {
            padding: .1rem 2.5rem .1rem;
        }

        &:hover {
            color: $pink;
        }

    }

    &__title {

        &--is-visible {

            @mixin atSmall {
                display: none;
            }
        }
    }
}