.project {
    padding-bottom: 1rem;
    padding-top: 1rem;

    @mixin atSmall {
        border-bottom: 1px solid $lightGreen;
        padding-bottom: 3rem;
        padding-top: 3rem;  
    }

    &:first-of-type {
        padding-top: 1rem;
    }

    &:last-of-type {
        border-bottom: none;
    }

    img {
        width: 100%;

        @mixin atSmall {
            border: 5px solid #fff;
            width: 450px;
        }

        @mixin atXXLarge {
            width: 600px;
        }
    }

    &__details {
        p {
            &:last-of-type {
                text-align: center;
                padding-top: .5rem;
            }
        }
    }
}