.section-title {
    color: #8F9F88;
    font-family: $accentFontFamily;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .3rem;
    margin: .5rem 0 .5rem;

    @mixin atSmall {
          font-size: 1.8rem;
          padding: 2rem 0 1rem;
    }

    &--padding-top {
        padding-top: 1.5rem;

        @mixin atSmall {
            padding-top: 2.5rem;
        } 
    }
}