.wrapper {
    @mixin clearfix;
    
    margin: 0 auto;

    @mixin atSmall {
        width: 95%;
    }

    @mixin atLarge {
        width: 90%;
    }

    @mixin atXLarge {
        width: 80%;
    }

    @mixin atXXLarge {
        width: 85%;
    }
}